body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--main_color);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  display: block;
}

.link:hover,
.link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

:root {
  --main_color: #ffffff;
  --color: #2e2f42;
  --web-color: #4d5ae5;
  --foot-par: #f4f4fd;
  --portfolio: #434455;
}

/**----------------HEADER-------------**/

.header {
  padding: 0 16px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.header-container {
  border-bottom: #e7e9fc;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin: 0;
  flex-grow: 1;
}

.nav-head-log {
  color: var(--color);
}

.nav-list,
.address-cont {
  display: none;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 24px 24px 40px 40px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto; */
}

.mob-menu.is-open {
  transform: translateX(0);
}

.close-button {
  /* display: block; */
  position: absolute;
  top: 24px;
  right: 24px;
  /* border-radius: 24px;
  border: 1px solid var(--navyblue, #2e2f42);
  background: #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08); */
  margin-bottom: 32px;
  border-radius: 24px;
  border: 1px solid #e7e9fc;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: transparent;
}

.close-button-mob {
}
.list {
}
.nav-list-mob {
}
.header-top-list_mob:not(:last-child) {
  margin-bottom: 40px;
}
.header-top-links_mob {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: #2e2f42;
}

.header-top-links_mob:focus {
  color: #404bbf;
}

.current {
}
.link {
}
.address-cont-mob {
  margin-bottom: 48px;
}
.address-cont-list_mob:not(:last-child) {
  padding-bottom: 40px;
}
.address-cont-mail_mob {
  font-size: 36px;

  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mail-cont-mail_mob {
  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #434455;
}

.sociallist-mob {
  display: flex;
  gap: 56px;
}
.links-social-mob {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.ourteam-list-social_mob {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourteam-list-iconsoc_mob {
  fill: #ffffff;
}

.mob-button {
  background-color: #ffffff;
  border: transparent;
  padding: 0;
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--web-color);
  text-transform: uppercase;
  padding: 24px 0;
  display: block;
  margin-right: 76px;
}

/**----------------ADDRESS-------------**/

/**----------------HERO-------------**/

.hero {
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-phone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--title-color);
  margin: 0 auto;
  max-width: 100%;
  height: 432px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

/**----------------BUTTON-------------**/

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--web-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/**----------------OUR TEAM-------------**/

.plan {
  gap: 24px;
  padding: 96px 16px;
}

.plan-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.ourteam-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  border-radius: 4px;
  background-position: center;
  margin-bottom: 8px;
  padding: 24px 0;
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ourteam-list {
  /* width: calc((100% - 24px) / 2); */
  width: 394px;
}

.antenna {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.ourteam-plan-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  /* text-align: center; */
}
.ourteam-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**----------------OUR INFO-------------**/

.ourinfo {
  padding-bottom: 120px;
  display: none;
}

.ourteam-list-iconsoc-ourteam {
  padding: 120px 0;
}

.ourinfo-cont {
  display: flex;
  gap: 24px;
}

.our-infoteam {
  display: flex;
  gap: 72px;
  justify-content: center;
  flex-wrap: wrap;
}

.sociallist {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.links-social {
  /*display: flex;
  align-items: center;
  justify-content: center; */
  width: 40px;
  height: 40px;

  background: #4d5ae5;
  transition: color 300ms linear;
  border-radius: 50%;
}

.ourinfo-list {
  width: calc((100% - 48px) / 3);
}

.section-ourteam {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.infolist {
  max-width: 264px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.infolist-cont {
  padding: 32px 0;
  width: 264px;
}

.our-info {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-info-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-info-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.ourteam-list-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-list-iconsoc {
  fill: #f4f4fd;
}

.ourteam-list-social:hover,
.ourteam-list-social:focus {
  background-color: #404bbf;
  border-radius: 50%;
}

/************** Customers ***************/

.customers-sec {
  padding: 96px 16px;
}

.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.customers-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
}

.custom-list {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.custom-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-link:hover,
.custom-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icons {
  fill: currentColor;
}

/**----------------FOOTER-------------**/

.footer {
  background-color: var(--color);
  padding: 96px 0 96px;
  text-align: center;
}

.footer-container {
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-logo,
.footer-social {
  margin-bottom: 72px;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--web-color);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--foot-par);
  max-width: 264px;
  text-align: justify;
  margin: auto;
}

/* .footer-social {
  margin-right: 80px;
} */

.window {
  flex-wrap: wrap;
  margin-left: 15px;
}

.footer-soc-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soclinks {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-links-list {
  width: 40px;
  height: 40px;
}

.anchor-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.anchor-footer:hover,
.anchor-footer:focus {
  background-color: #31d0aa;
}

.footer-list-iconsoc {
  fill: #f4f4fd;
}

/**-------------PORTFOLIO---------------**/

.portfolio-main {
  padding: 96px 0 120px 0;
}

.portfolio-cont {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.just-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 48px;
}

.portf-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.portf-list:hover {
  transform: translate(0);
}

.portf-list-link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-list-link:hover,
.portf-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.background {
  position: relative;
  overflow: hidden;
}

.cover-icons {
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  padding: 20px;
  height: 100px;
}

.cover-icons-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-list-link:hover .cover-icons-text,
.portf-list-link:focus .cover-icons-text {
  transform: translateY(0);
}

.cont-apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.bttns-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--web-color);
  background: var(--foot-par);
  padding: 12px 24px 12px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bttns-name:hover,
.bttns-name:focus {
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.bttns-name:hover,
.bttns-name:focus {
  background: #404bbf;
  border: 1px solid transparent;
}

.ourteam-plan-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color);
  margin-bottom: 8px;
  text-align: center;
}

.ourteam-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio);
}

/** ---------- MODAL ---------**/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-class {
  margin-bottom: 284px;
}

.data-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-name {
  font-size: 12px;
  font-family: Roboto;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #8e8f99;
}

.form-text:not(:last-child) {
  margin-bottom: 8px;
}

.div-icons {
  position: relative;
}

.div-icons-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-icons-input::placeholder {
  font-size: 12px;
  font-family: inherit;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #8e8f99;
}

.div-icons-input:focus {
  border-color: #4d5ae5;
}

.div-icons-svg {
  position: absolute;
  left: 16px;
  top: 60%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.div-icons-svg:hover,
.div-icons-svg:focus {
  fill: #4d5ae5;
}

.div-icons-input:hover,
.div-icons-input:focus {
  border: 1px solid rgba(77, 90, 229, 1);
}

.div-comment {
  margin-bottom: 16px;
}

.div-comment-field {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-comment-field:focus {
  border-color: #4d5ae5;
}

.div-comment-five {
  margin-bottom: 24px;
}

.five-terms {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.terms-span {
  margin: 0 auto;
}

.five-terms-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.comment-five:checked + .five-terms > .five-terms-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.span-color {
  color: #4d5ae5;
  text-decoration: underline;
}

.button-six {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}

.footer-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.modal-form {
  flex-wrap: wrap;
  gap: 24px;
}

.modal-input {
  width: 398px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  margin-right: 15px;
  margin-bottom: 24px;
}

.modal-input::placeholder {
  color: #ffffff;
}

.button-subscribe {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: auto;
}

.button-svg {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
    width: 100%;
  }
  .nav-list-mob {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .header-top-list_mob {
    width: calc((100% - 2 * 40px) / 3);
  }

  .header-top-links_mob {
    font-size: 36px;
  }

  .address-cont-mail_mob {
    font-size: 36px;
  }

  .sociallist-mob {
    gap: 56px;
    max-width: 328px;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }

  /* .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg.jpg);
  } */

  .footer-tab {
    max-width: 584px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .current {
    color: var(--web-color);
  }

  .header-top-links.current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    color: var(--web-color);
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }

  .header-top-list {
    position: relative;
    color: #404bbf;
  }

  .nav-head-log {
    color: var(--color);
  }

  .header-top-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color);
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #2e2f42;
  }

  .header-top-links:hover,
  .header-top-links:focus {
    color: #404bbf;
  }

  .header-top-links span {
    color: #2e2f42;
  }

  .header-top-links:active {
    color: #404bbf;
  }

  .address {
    font-style: normal;
    margin-left: auto;
  }

  .address-cont {
    display: block;
    align-items: center;
  }

  .address-cont-mail {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-cont-mail:hover,
  .address-cont-mail:focus {
    color: #404bbf;
  }

  .address-cont-mail:active {
    color: #404bbf;
  }

  .address-cont-phone:hover,
  .address-cont-phone:focus {
    color: #404bbf;
  }

  .plan {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .plan-list {
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .ourteam-list {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }

  .ourteam-plan-list {
    text-align: left;
  }

  .ourteam-list-link {
    display: none;
  }

  .infolist {
    width: calc((100% - 24px) / 2);
    width: auto;
    margin: 0;
  }

  .our-info {
    margin-left: auto;
    margin-right: auto;
  }

  .ourinfo {
    display: none;
  }

  .our-infoteam {
    gap: 64px 24px;
    display: flex;
  }

  .custom-list {
    width: calc((100% - 24 * 2px) / 3);
  }

  .custom-link {
    width: 168px;
  }

  .customers-list {
    gap: 72px 24px;
    justify-content: center;
  }

  .cust-cont {
    max-width: 584px;
  }

  .hero-content {
    max-width: 768px;
    height: 436px;
    flex-shrink: 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-content {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-tablet-2x.jpg);
    }
  }
  /* 
  .hero-title {
    display: flex;
    width: 496px;
    height: 120px;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  } */

  .mob-button {
    display: none;
  }

  .footer-container {
    display: flex;
    max-width: 530px;
    gap: 74px 24px;
    padding-left: 0;
  }

  .footer-logo {
    margin: 0;
    text-align: left;
  }

  .footer-social {
    margin: 0;
    text-align: left;
  }

  .footer-soclinks {
    margin-bottom: 0;
  }

  .footer-logo-link {
    text-align: left;
  }

  .data-modal {
    padding: 72px 25px 24px 23px;
    min-height: 0;
  }

  .modal-form {
    display: flex;
    gap: 24px;
  }

  .button-subscribe {
    margin: inherit;
  }

  .modal-input {
    width: 264px;
    margin-right: 0;
  }

  .window {
    text-align: start;
    margin-left: 0;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    height: 600px;
    max-width: 1440px;
  }

  .mob-menu {
    display: none;
  }

  .ourinfo {
    display: flex;
  }

  .plan-list {
    gap: 24px;
    display: flex;
  }

  .ourteam-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .our-infoteam {
    gap: 24px;
  }

  .ourteam-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4fd;
    border-radius: 4px;
    background-position: center;
    margin-bottom: 8px;
    padding: 24px 0;
  }

  .custom-list {
    width: calc((100% - 24px * 5) / 6);
  }

  .customers-list {
    gap: 24px;
  }

 
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .address-cont {
    display: flex;
    gap: 40px;
  }

  .address-cont-mail {
    font-size: 16px;
  }

  .plan {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .footer-logo,
  .footer-social {
    margin-bottom: 0;
  }

  .footer-container {
    max-width: 100%;
    justify-content: space-evenly;
  }
}
